.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.font-size-25 {
  font-size: 25px;
}

.horizontal-rating .rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.horizontal-rating .rating-bar {
  width: 100%;
  height: 12px;
  background-color: #ddd;
  border-radius: 1px;
  position: relative;
}

.horizontal-rating .rating-fill {
  height: 100%;
  background-color: #f7c46c !important;
  border-radius: 5px;
}

.horizontal-rating .percentage {
  font-size: 16px;
}

.tooltip-inner {
  width: 100% !important; /* Ensure the tooltip takes up the full width */
  max-width: 100% !important; /* Remove any max-width constraints */
  white-space: normal; /* Allow the text to wrap */
}

.tooltip {
  word-wrap: break-word; /* Allow the tooltip to break words for long content */
}

.ai-monitoring-camera .dashboard-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
}

.ai-monitoring-camera .driver-img {
  object-fit: cover;
  border-radius: 8px;
  height: 150px;
  width: 150px;
}
