<header class="app-header app-header-dark">
  <div class="top-bar">
    <div class="top-bar-brand">
      <button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside-menu" aria-label="toggle aside menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle aside menu -->
      <a href="index.html">FMS DuraPower</a>
    </div>

    <div class="top-bar-list">
      <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">

        <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
      </div>

      <div class="top-bar-item top-bar-item-full">
      </div>

      <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">

        <div class="dropdown d-none d-md-flex">
          <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIn-gE6j6sjvg0ekFgFBIzVP5VdN3aBu9dLg&s" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name">Wang Yibo</span> <span class="account-description">Manager</span></span></button> <!-- .dropdown-menu -->
          <div class="dropdown-menu">
            <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
            <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
            <h6 class="dropdown-header d-none d-md-block d-lg-none"> Wang Yibo </h6>
            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Profile</a> <a class="dropdown-item" href="#">Setting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>