{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h4>Vehicle Details</h4>

      <div class="card">
        <div class="card-header text-center">
          <div class="vehicle-icon">
            <i class="fas fa-car" style="font-size: 50px;"></i> <!-- Car icon -->
          </div>
          <h4>Vehicle ID: #12345</h4>
          <h5>Make: Toyota | Model: Corolla</h5>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card card-fluid">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link show active" data-toggle="tab" href="#tab_location">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_basic_details">Basic Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_additional_info">Additional Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_trip_history">Trip History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_tyre_management">Tyre Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab_alert_and_reminder">Alert And Reminder</a>
            </li>

          </ul>
        </div>

        <div class="card-body">
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="tab_location">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ url_for('main.vehicle_show_map_display') }}" style="width: 70%; height: 400px;"></iframe>
              </div>
            </div>
            <div class="tab-pane fade" id="tab_basic_details">
              <div class="row">
                <!-- Left column with details -->
                <div class="col-md-6">
                  <table border="0" cellpadding="10" cellspacing="0">
                    <tr>
                      <td><strong>Year of Manufacture</strong></td>
                      <td>2020</td>
                    </tr>
                    <tr>
                      <td><strong>License Plate</strong></td>
                      <td>ABC 1234</td>
                    </tr>
                    <tr>
                      <td><strong>Status</strong></td>
                      <td>Active</td>
                    </tr>
                    <tr>
                      <td><strong>Location</strong></td>
                      <td>New York</td>
                    </tr>
                    <tr>
                      <td><strong>Last Maintenance</strong></td>
                      <td>2024-01-15</td>
                    </tr>
                    <tr>
                      <td><strong>Upcoming Maintenance</strong></td>
                      <td>2025-06-10</td>
                    </tr>
                    <tr>
                      <td><strong>Fuel Type</strong></td>
                      <td>Petrol</td>
                    </tr>
                    <tr>
                      <td><strong>Fuel Efficiency</strong></td>
                      <td>15 km/l</td>
                    </tr>
                    <tr>
                      <td><strong>Assigned Driver</strong></td>
                      <td>John Doe</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="tab_additional_info">
              <p><strong>Vehicle History:</strong> This vehicle has been used for daily office commutes and regular maintenance is performed at scheduled intervals.</p>
              <p><strong>Service Provider:</strong> ABC Motors, New York</p>
            </div>

            <div class="tab-pane fade" id="tab_trip_history">
              tab_trip_history
            </div>

            <div class="tab-pane fade" id="tab_tyre_management">
              tab_tyre_management
            </div>

            <div class="tab-pane fade" id="tab_alert_and_reminder">
              tab_alert_and_reminder
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
